<!--
Names: Paul Lim, Sonja Hanemann
Group: 108
Project Title: Pedal Box Delivery
Class: CS340 400 Introduction to Databases
Description: Project Step 4 Draft Version: Implement CRUD for One Entity
-->

<h2>Overview of Customers</h2>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <table border="1" cellpadding="5">
 
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        

      {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.customer_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.user_id}}</td>
            <td>{{this.email}}</td>
            <td>{{this.street_1}}</td>
            <td>{{this.street_2}}</td>
            <td>{{this.city}}</td>
            <td>{{this.state}}</td>
            <td>{{this.zip_code}}</td>
            <td>{{this.phone}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<h2>Add Customer</h2>

<form id="add-customers-form-ajax">
    
    <label for="input-first_name">First Name: </label>
    <input type="text" name="input-first_name" id="input-first_name">

    <label for="input-last_name">Last Name: </label>
    <input type="text" name="input-last_name" id="input-last_name">

    <label for="input-user_id">User ID: </label>
    <input type="text" name="input-user_id" id="input-user_id">

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">

    <label for="input-street_1">Street 1: </label>
    <input type="text" name="input-street_1" id="input-street_1">
    
    <label for="input-street_2">Street 2: </label>
    <input type="text" name="input-street_2" id="input-street_2">

    <label for="input-city">City: </label>
    <input type="text" name="input-city" id="input-city">

    <label for="input-state">State: </label>
    <input type="text" name="input-state" id="input-state">

    <label for="input-zip_code">Zip Code: </label>
    <input type="number" name="input-zip_code" id="input-zip_code">

    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone">
    
    <input type="submit">
</form>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_customers.js"></script>