<!--
Names: Paul Lim, Sonja Hanemann
Group: 108
Project Title: Pedal Box Delivery
Class: CS340 400 Introduction to Databases
Description: Project Step 4 Draft Version: Implement CRUD for One Entity
-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <h2>Overview of Foods</h2>
        <table border="1" cellpadding="5">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        
        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.food_id}}</td>
            <td>{{this.restaurant_id}}</td>
            <td>{{this.food_name}}</td>
            <td>{{this.cost}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_foods.js"></script>


<h2>Add Food</h2>

<form id="add-foods-form-ajax">
    
    <label for="input-restaurant_id">Restaurant: </label>
    <select name="input-restaurant_id" id="input-restaurant_id">
           <option value="">Select a Restaurant</option>
        {{#each restaurants}}
        <option value="{{this.restaurant_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-food_name">Food Name: </label>
    <input type="text" name="input-food_name" id="input-food_name">
    
    <label for="input-cost">Cost: </label>
    <input type="number" name="input-cost" id="input-cost">
    
     <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_foods.js"></script>