
<h1>Pedal Box Delivery</h1>
<p>This page represents the OrderDetails intersection table.</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="orderdetails-table">>
<table border="1" cellpadding="5">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
            <td>{{this.[Order Details ID]}}</td>
            <td>{{this.[Order ID]}}</td>
            <td>{{this.[Food ID]}}</td>
            <td>{{this.[Order Qty]}}</td>
            <td>{{this.[Unit Price]}}</td>
            <td>{{this.[Line Total]}}</td>
            <td>{{this.[Unit Courier Fee]}}</td>
            <td>{{this.[Line Fee Total]}}</td>
            <td><button onclick="deleteOrderDetails({{this.[Order Details ID]}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_orderdetails.js"></script>

<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Add Order Details</h2>
<form id="add-orderdetails-form-ajax">
    <label for="input-order_id">Order ID: </label>
    <input type="number" name="input-order_id" id="input-order_id">

    {{!<label for="input-food_id">Food ID: </label>
    <input type="number" name="input-food_id" id="input-food_id">}}

    <label for="input-food_id">Food:</label>
    <select name="input-food_id" id="input-food_id">
        <option value="">Select Food</option>
        {{#each foods}}
        <option value="{{this.[Food ID]}}">{{this.[Food Name]}}</option>
        {{/each}}
    </select>

    <label for="input-order_qty">Order Qty: </label>
    <input type="number" name="input-order_qty" id="input-order_qty">

    <label for="input-unit_price">Unit Price: </label>
    <input type="number" name="input-unit_price" id="input-unit_price">

    <label for="input-line_total">Line Total: </label>
    <input type="number" name="input-line_total" id="input-line_total">

    <label for="input-unit_courier_fee">Unit Courier Fee: </label>
    <input type="number" name="input-unit_courier_fee" id="input-unit_courier_fee">

    <label for="input-line_fee_total">Line Fee Total: </label>
    <input type="number" name="input-line_fee_total" id="input-line_fee_total">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_orderdetails.js"></script>

<h2>Update Order Details</h2>
<form id="update-orderdetails-form-ajax">

    <label for="input-orderdetails_id">Order Details ID: </label>
    <select name="input-orderDetails_id" id="mySelect">
        <option value="test">Select an Order Detail</option>
        {{#each data}}
        <option value="{{this.[Order ID]}}">{{this.[Order ID]}}</option>
        {{/each}}
    </select>


    <label for="input-food_id">Food:</label>
    <select name="input-food_id" id="input-food_id">
        <option value="">Select Food</option>
        {{#each foods}}
        <option value="{{[Food ID]}}">{{this.[Food Name]}}</option>
        {{/each}}
    </select>
    <input type="submit">
</form>

<script src="./js/update_orderdetails.js"></script>
