<!--
Names: Paul Lim, Sonja Hanemann
Group: 108
Project Title: Pedal Box Delivery
Class: CS340 400 Introduction to Databases
Description: Project Step 4 Draft Version: Implement CRUD for One Entity
-->

<h2>Overview of Restaurants</h2>
        <table border="1" cellpadding="5">
            {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>


        
        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.restaurant_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.street_1}}</td>
            <td>{{this.street_2}}</td>
            <td>{{this.city}}</td>
            <td>{{this.state}}</td>
            <td>{{this.zip_code}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.cuisine}}</td>
            <td><button onclick="deleteRestaurants({{this.restaurant_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


<h2>Add Restaurants</h2>

<form id="add-restaurants-form-ajax">
    
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">

    <label for="input-street_1">Street 1: </label>
    <input type="text" name="input-street_1" id="input-street_1">
    
    <label for="input-street_2">Street 2: </label>
    <input type="text" name="input-street_2" id="input-street_2">

    <label for="input-city">City: </label>
    <input type="text" name="input-city" id="input-city">

    <label for="input-state">State: </label>
    <input type="text" name="input-state" id="input-state">

    <label for="input-zip_code">Zip Code: </label>
    <input type="number" name="input-zip_code" id="input-zip_code">

    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone">

    <label for="input-cuisine">Cuisine: </label>
    <input type="text" name="input-cuisine" id="input-cuisine">
    
     <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_restaurants.js"></script>